@model AddEditWorkshopViewModel

@{
    ViewBag.Title = "Schedual a New Workshop";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Add" method="post" id="myForm" onsubmit="notify(event)">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label-add-edit">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
                <input asp-for="@Model.Description" class="form-control" aria-required="true" rows="5" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StartDate" class="form-label-add-edit">Beginning</label>
                <input asp-for="@Model.StartDate" class="form-control" aria-required="true" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EndDate" class="form-label-add-edit">End</label>
                <input asp-for="@Model.EndDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary fw-bold text" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function notify(e)
        {
            e = e || window.event;
			e.preventDefault();
            const myForm = document.getElementById("myForm");
            const fieldOne = myForm.childNodes[1].childNodes[3].classList.contains("valid");
            const fieldTwo = myForm.childNodes[3].childNodes[3].classList.contains("valid");
            let isValid = false;

            if (fieldOne && fieldTwo)
            {
                isValid = true;
            }

            if (isValid)
            {
                Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Succesfully added workshop!',
                showConfirmButton: false,
                timer: 1500
                }).then((result) => {
                       myForm.submit();
                });
            }
        }
    </script>
}

