@model IEnumerable<WorkshopViewModel>

@{
    ViewBag.Title = "All Available Workshops";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var w in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h5 class="card-title mt-1">@w.Title</h5>
                <p class="mb-0"><span class="fw-bold">Starting time: </span>@w.StartDate</p>
                <p class="mb-0"><span class="fw-bold">Participants: </span>@w.ParticipantsCount</p>
                <img class="card-img-top" style="width: 18rem;" src=@w.ImagePath alt="Product Image">
            </div>

            <a asp-controller="Workshop" asp-action="Details" asp-route-id="@w.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>
            @if (User?.Identity?.Name == w.Organiser)
            {
                <a asp-controller="Workshop" asp-action="Edit" asp-route-id="@w.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            }
        </div>
    }
    @if (!Model.Any())
    {
        <p>No workshops added yet! Come back later.</p>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
