@model WorkshopDetailsViewModel

@{
    ViewBag.Title = "Workshop Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
	<div class="card w-50">
		<img class="mx-auto mt-2" style="width: 25rem; height: 20rem;" src=@Model.ImagePath alt="Product Image">
	</div>
    <div class="card w-50">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Title</h3>
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="mb-0"><span class="fw-bold">Starting time: </span>@Model.StartDate</p>
            <p class="mb-0"><span class="fw-bold">Ending time: </span>@Model.EndDate</p>
            <p class="mb-0"><span class="fw-bold">Organiser: </span>@Model.Organiser</p>
            <p class="mb-0"><span class="fw-bold">Created on: </span>@Model.CreatedOn</p>
        </div>

        <a asp-controller="Workshop" asp-action="All" class="btn btn-outline-info mb-2 w-100 p-3 fw-bold">Back to All Workshops</a>
        @if (User?.Identity?.Name == Model.Organiser)
        {
            <a asp-controller="Workshop" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Edit</a>

            <form class="input-group-sm " id="myForm" onsubmit="customConfirm(event)" asp-controller="Workshop" asp-action="Delete" asp-route-id="@Model.Id">
                    <input type="submit" value="Delete" class="fs-6 btn btn-danger mb-3 w-100 p-3 fw-bold" />
            </form>
        }
		else
            {
                <form class="input-group-sm" asp-controller="Workshop" asp-action="Join" asp-route-id="@Model.Id">
                    <input type="submit" value="Participate" class="fs-6 btn btn-info mb-3 w-100 p-3 fw-bold" />
                </form>
            }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
		function customConfirm(e)
        {
			e = e || window.event;
			e.preventDefault();
			const swalWithBootstrapButtons = Swal.mixin({
				customClass: {
					confirmButton: 'btn btn-success',
					cancelButton: 'btn btn-danger'
				},
				buttonsStyling: true,
				cancelButtonColor: '#d33'
			})

			swalWithBootstrapButtons.fire({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes, delete it!',
				cancelButtonText: 'No, cancel!',
				reverseButtons: true
			}).then((result) => {
				if (result.isConfirmed) {
				  const myForm = document.getElementById("myForm");
				  myForm.submit();
			  } else if (
			    result.dismiss === Swal.DismissReason.cancel
				) {
			    swalWithBootstrapButtons.fire(
			      'Cancelled',
			      'Your workshop is safe :)',
			      'error')
				}
			  })
        }
	</script>
}
