@model AddOrderViewModel

@{
    ViewBag.Title = "Shipping information";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" id="myForm" onsubmit="notify(event)">
            <div class="mb-3">
                <label asp-for="@Model.ClientPhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="@Model.ClientPhoneNumber" class="form-control" aria-required="true" />
                <span asp-validation-for="ClientPhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.DeliveryAddress" class="form-label">Delivery Address</label>
                <input asp-for="@Model.DeliveryAddress" class="form-control" aria-required="true" />
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary fw-bold text" type="submit" value="Finish Order" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function notify(e)
        {
            e = e || window.event;
			e.preventDefault();
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Succesfully ordered product!',
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                    const myForm = document.getElementById("myForm");
				    myForm.submit();
                })
        }
    </script>
}
