@model OrderDetailsViewModel

@{
    ViewBag.Title = "Order Details";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="card w-50">
        <img class="mx-auto" style="width: 25rem;" src=@Model.ImagePath alt="Product Image">
    </div>
    <div class="card w-50">
        <div class="card-body">
            <h3 class="card-title text-center mb-5">@Model.Type</h3>
            <p class="mb-0"><span class="fw-bold mt-5">Description: </span>@Model.Description</p>
            <p class="mb-0"><span class="fw-bold">Delivery Address: </span>@Model.DeliveryAddress</p>
            <p class="mb-0"><span class="fw-bold">Phone Number: </span>@Model.ClientPhoneNumber</p>
            <p class="mb-0"><span class="fw-bold">Crafter: </span>@Model.Crafter</p>
            <p class="mb-0"><span class="fw-bold">Total Price: </span>@Model.Amount</p>
            <p class="mb-0"><span class="fw-bold">Status: </span>@Model.Status</p>
            <p class="mb-0"><span class="fw-bold mb-5">Created on: </span>@Model.CreatedOn</p>
        </div>

        <a asp-controller="Order" asp-action="All" class="btn btn-outline-info mb-2 mt-5 w-100 p-3 fw-bold">Back to All Orders</a>

        @if (User?.Identity?.Name == Model.Crafter)
        {
            <a asp-controller="Order" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info mb-2 w-100 p-3 fw-bold">Change status</a>
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
